<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="description" content="">
<meta name="author" content="">
<base href="/sep/www/" />
<link rel="icon" href="../www/login/img/favicon.ico">

<title>软件工程学科平台</title>

<!-- Bootstrap core CSS -->
<link href="../www/ui/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../www/login/js/index-html5shiv.min.js"></script>
      <script src="../www/login/js/index-respond.min.js"></script>
    <![endif]-->

<!-- Custom styles for this template -->
<link href="../www/login/css/front-span.css" rel="stylesheet">

</head>
<!-- NAVBAR
================================================== -->
<body>
	<div class="container-fluid" id="LG">
		<div class="row-fluid">
			<div class="span12">
				<div class="hero-unit well">
					<h1>软件工程学科平台</h1>
					<p>学的不仅是技术，更是梦想！</p>
				</div>
				<div id="mynav"
					style="position: relative; top: auto; left: auto; z-index: 999;">
					<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#example-navbar-collapse">
							<span class="sr-only">切换导航</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="../www/front.html">首页</a>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> 学科概况 <b class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../www/ui/page404/404.html">学科简介</a></li>
									<li><a href="../www/ui/page404/404.html">组织架构</a></li>
									<li><a href="../www/ui/page404/404.html">办事指南</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> 招生就业 <b class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../www/ui/page404/404.html">本科专业介绍</a></li>
									<li><a href="../www/ui/page404/404.html">硕士点介绍</a></li>
									<li><a href="../www/ui/page404/404.html">培养方案</a></li>
									<li><a href="../www/ui/page404/404.html">历届毕业生信息</a></li>
									<li><a href="../www/ui/page404/404.html">招聘就业信息</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> 教学信息 <b class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../www/ui/page404/404.html">教学计划</a></li>
									<li><a href="../www/ui/page404/404.html">培养方案</a></li>
									<li><a href="../www/ui/page404/404.html">培养特色</a></li>
									<li><a href="../www/ui/page404/404.html">教学资源</a></li>
									<li><a href="../www/ui/page404/404.html">课程案例</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> 科研信息 <b class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../www/ui/page404/404.html">横向</a></li>
									<li><a href="../www/ui/page404/404.html">纵向</a></li>
									<li><a href="../www/ui/page404/404.html">科研活动</a></li>
									<li><a href="../www/ui/page404/404.html">学术活动</a></li>
									<li><a href="../www/ui/page404/404.html">学术报告</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> 合作交流 <b class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../www/ui/page404/404.html">校企</a></li>
									<li><a href="../www/ui/page404/404.html">校校</a></li>
									<li><a href="../www/ui/page404/404.html">校内</a></li>
									<li><a href="../www/ui/page404/404.html">学科内</a></li>
									<li><a href="../www/ui/page404/404.html">中外</a></li>
								</ul></li>
							<li><a><script src="../www/ui/util/htmltime.js"></script></a></li>
						</ul>
					</div>
					</nav>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span4">
				<div class="list-group">
					<a class="list-group-item active" href="../www/ui/page404/404.html">子导航栏</a>
					<div class="list-group-item">1 列表标题</div>
					<div class="list-group-item">2 列表标题</div>
					<div class="list-group-item">3 列表标题</div>
					<div class="list-group-item">4 列表标题</div>
					<div class="list-group-item">5 列表标题</div>
					<div class="list-group-item">6 列表标题</div>
					<div class="list-group-item">7 列表标题</div>
					<div class="list-group-item">8 列表标题</div>
					<div class="list-group-item">9 列表标题</div>
				</div>
			</div>
			<div class="span8">
				<div class="list-group">
					<a class="list-group-item active" href="../www/ui/page404/404.html">内容列表</a>
					<div class="list-group-item">1 列表标题</div>
					<div class="list-group-item">2 列表标题</div>
					<div class="list-group-item">3 列表标题</div>
					<div class="list-group-item">4 列表标题</div>
					<div class="list-group-item">5 列表标题</div>
					<div class="list-group-item">6 列表标题</div>
					<div class="list-group-item">7 列表标题</div>
					<div class="list-group-item">8 列表标题</div>
					<div class="list-group-item">9 列表标题</div>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12">
				<div class="footer auto" align="center">
					<div class=cop>
						版权所有 浙江师范大学软件学院 Copyright 2016 www.zjnu.edu.cn All Rights
						Reserved 浙ICP备05001954号<br>
						<div class="yncc auto">
							<a target=_blank><img
								src="../www/login/img/favicon.ico" width=30 height=30></a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../www/ui/jquery/jquery.min.js"></script>
		<script src="../www/ui/bootstrap/js/bootstrap.min.js"></script>

		<script src="../www/ui/navfix/jquerybrowser.js"></script>
		<script src="../www/ui/navfix/navfix.js"></script>

		<script type="text/javascript">
			$(document).ready(function(e) {
				$('#mynav').navfix(0, 999);
			});
		</script>
</body>
</html>