<!DOCTYPE html>
<html>
<head>
<title>navbar.html</title>

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">

</head>

<body>
	<div class="row-fluid">
		<div class="span12">
			<div class="hero-unit well">
				<h1>软件工程学科平台</h1>
				<p>学的不仅是技术，更是梦想！</p>
			</div>
			<div id="mynav"
				style="position: relative; top: auto; left: auto; z-index: 999;">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#example-navbar-collapse">
							<span class="sr-only">切换导航</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="../www/front.html">首页</a>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> 学科概况 <b class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../www/ui/page404/404.html">学科简介</a></li>
									<li><a href="../www/ui/page404/404.html">组织架构</a></li>
									<li><a href="../www/ui/page404/404.html">办事指南</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> 招生就业 <b class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../www/ui/page404/404.html">本科专业介绍</a></li>
									<li><a href="../www/ui/page404/404.html">硕士点介绍</a></li>
									<li><a href="../www/ui/page404/404.html">培养方案</a></li>
									<li><a href="../www/ui/page404/404.html">历届毕业生信息</a></li>
									<li><a href="../www/ui/page404/404.html">招聘就业信息</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> 教学信息 <b class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../www/ui/page404/404.html">教学计划</a></li>
									<li><a href="../www/ui/page404/404.html">培养方案</a></li>
									<li><a href="../www/ui/page404/404.html">培养特色</a></li>
									<li><a href="../www/ui/page404/404.html">教学资源</a></li>
									<li><a href="../www/ui/page404/404.html">课程案例</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> 科研信息 <b class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../www/ui/page404/404.html">横向</a></li>
									<li><a href="../www/ui/page404/404.html">纵向</a></li>
									<li><a href="../www/ui/page404/404.html">科研活动</a></li>
									<li><a href="../www/ui/page404/404.html">学术活动</a></li>
									<li><a href="../www/ui/page404/404.html">学术报告</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> 合作交流 <b class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../www/ui/page404/404.html">校企</a></li>
									<li><a href="../www/ui/page404/404.html">校校</a></li>
									<li><a href="../www/ui/page404/404.html">校内</a></li>
									<li><a href="../www/ui/page404/404.html">学科内</a></li>
									<li><a href="../www/ui/page404/404.html">中外</a></li>
								</ul></li>
							<li><a><script src="../www/ui/util/htmltime.js"></script></a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</body>
</html>
